@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

/* define design tokens (light mode) */
:root {
    --background: hsl(43 26% 89%);
    --foreground: hsl(218 43% 20%);

    --card: hsl(43 36% 88%);
    --card-foreground: hsl(218 43% 20%);

    --popover: hsl(43 36% 88%);
    --popover-foreground: hsl(218 43% 20%);

    --primary: hsl(218 43% 20%);
    --primary-foreground: hsl(43 26% 89%);

    --secondary: hsl(44 30% 85%);
    --secondary-foreground: hsl(218 43% 20%);

    --muted: hsl(44 30% 85%);
    --muted-foreground: hsl(218 20% 50%);

    --accent: hsl(201 30% 77%);
    --accent-foreground: hsl(218 43% 20%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(43 26% 89%);

    --border: hsl(43 26% 75%);
    --input: hsl(201 30% 77%);
    --ring: hsl(201 30% 77%);

    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(201 30% 77%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);

    --radius: 0.5rem;

    --sidebar: hsl(202, 31%, 77%);
    --sidebar-background: hsl(201 30% 77%);
    --sidebar-foreground: hsl(218 43% 20%);
    --sidebar-primary: hsl(218 43% 20%);
    --sidebar-primary-foreground: hsl(43 26% 89%);
    --sidebar-accent: hsl(218 43% 20%);
    --sidebar-accent-foreground: hsl(218 43% 20%);
    --sidebar-border: hsl(43 26% 70%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
    --background: hsl(218 43% 10%);
    --foreground: hsl(43 26% 89%);

    --card: hsl(218 43% 10%);
    --card-foreground: hsl(43 26% 89%);

    --popover: hsl(218 43% 10%);
    --popover-foreground: hsl(43 26% 89%);

    --primary: hsl(43 26% 89%);
    --primary-foreground: hsl(218 43% 10%);

    --secondary: hsl(218 30% 18%);
    --secondary-foreground: hsl(43 26% 89%);

    --muted: hsl(218 30% 18%);
    --muted-foreground: hsl(201 30% 77%);

    --accent: hsl(201 30% 77%);
    --accent-foreground: hsl(218 43% 10%);

    --destructive: hsl(0 62.8% 40%);
    --destructive-foreground: hsl(43 26% 89%);

    --border: hsl(218 30% 35%);
    --input: hsl(218 30% 18%);
    --ring: hsl(201 30% 77%);

    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);

    --sidebar-background: hsl(218 43% 15%);
    --sidebar-foreground: hsl(43 26% 89%);
    --sidebar-primary: hsl(218 43% 20%);
    --sidebar-primary-foreground: hsl(43 26% 89%);
    --sidebar-accent: hsl(218 30% 18%);
    --sidebar-accent-foreground: hsl(43 26% 89%);
    --sidebar-border: hsl(218 30% 35%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* define theme */
@theme {
    --font-sans: var(--font-geist);
    --font-mono: var(--font-geist-mono);

    --breakpoint-toast-mobile: 600px;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility text-balance {
    text-wrap: balance;
}

@utility -webkit-overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
}

@utility touch-pan-y {
    touch-action: pan-y;
}

@utility overscroll-behavior-contain {
    overscroll-behavior: contain;
}

@layer utilities {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
        position: relative;
    }

    html {
        overflow-x: hidden;
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md bg-foreground/20 select-none animate-pulse;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background! dark:bg-zinc-800! outline-hidden! selection:bg-zinc-900!;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200! dark:bg-zinc-900!;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent!;
}

.cm-activeLine {
    @apply rounded-r-sm!;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm!;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}

/* minimal scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 3px;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: --alpha(var(--muted-foreground) / 0.5);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* firefox scrollbar styling */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}

@theme inline {
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@keyframes barcodeLoop {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
